body{
    background-color: darkmagenta;
}
header{
    text-align: center;
    background-color: darkmagenta;
}
main{
    text-align: center;
}

section{
    background-color: plum;
    border-radius: 80px;
    border-color: black;
    border-style: solid;
    margin: 8px;
    margin-left: 18%;
    margin-right: 18%;
}

#sex2{
    padding-bottom: 8px;
}